html, body {
  margin: 0;
  padding: 0;
  /* background-image: url("https://media.giphy.com/media/KTIlsbZL5TrS8/giphy.gif"); */
  background-image: url("https://media.giphy.com/media/xT9IgzaatTKTNyEauk/giphy.gif");
  /* background-repeat: no-repeat; */
  background-size: contain;
  /* font-family: 'Baloo Bhai', cursive; */
  font-family: 'Maven Pro', sans-serif;

  text-align: center;
    color: white;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
